/** Admin Menu Icons for WP 3.8/MP6 **/
.svg #toplevel_page_shopp-orders div.wp-menu-image,
.svg #toplevel_page_shopp-products div.wp-menu-image { background: none; }

.svg #toplevel_page_shopp-orders div.wp-menu-image:before,
.svg #toplevel_page_shopp-products div.wp-menu-image:before {  font-family: 'shopp-icons' !important; font-size: 16px !important; margin: 1px 0 0 2px; }

.svg #toplevel_page_shopp-orders div.wp-menu-image:before { content: "\e001";  }
.svg #toplevel_page_shopp-products div.wp-menu-image:before { content: "\e002"; }


